{% extends 'base.html' %}

{% block title %}
<title> TRP-GROUP.База технической информации </title>
{% endblock %}

{% block body %}
{%csrf_token%}
{% for i in result %}
<div class="row">
    <div class="col-sm-6 mb-0 mb-sm-0" style="margin-top: 70px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ i.ID_CommNumber }}</h5>
                <p class="card-text">{{ i.content }}</p>
                <a href="/order_card/{{ i.ID_CommNumber }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>

</div>
{% endfor %}


{% endblock %}